body {
    height: 100%;
    background-color: #000000;
    /* background-repeat: no-repeat; */
    background-size:cover;
}
/* span{
    color: #00ffff;
} */
div#form-group,#register-form {
    background-color: rgba(24, 20, 18, 0.834);
    border-radius: 10px;
    width: 450px;
    height: fit-content;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%) ;
    padding: 20px;
}
#register-form{
    display: none;
}
#typing-effect,#norm {
    color: #8492AF;
    font-family: monospace;
    font-size: 1.5em;
    margin-bottom: 100px;

}

label {
    color: rgb(190, 64, 62);
    font-family: Verdana;
}

input {
    margin-top: 5px;
    margin-bottom: 10px;
    background-color: rgba(16, 18, 23, 0.9);
    border-radius: 8px;
    padding: 5px;
    border: 1px solid #8492AF;
    color: #8492AF;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2em;
    justify-content: center;
}

input::placeholder{
    color:#8492AF;
    font-size: 0.9em;
}

input:hover{
    background-color: rgb(23, 35, 67)
}
button,#submit{
    background-color: rgba(14, 22, 43, 0.9);
    color: #8492AF;
    border-radius: 10px;
    border: 1px solid #8492AF;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    outline: none;
    margin-bottom: 10px;
}

button:active {
    border-style: outset;
  }

button:hover{
    background-color: rgb(23, 35, 67);
}

#create,#create2{
    color: #8492AF;
    font-family:monospace;
    cursor: pointer;
    color: #f0ffff
}

.here:hover{
    text-decoration: underline;
}